/* Reset CSS mặc định */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
  
body {
    font-family: Arial, sans-serif;
    background-color: #f8f8f8;
    margin: 0;
    padding: 20px 0; /* Thêm padding cho phần trên và dưới của trang */
    min-height: 100vh; /* Giữ chiều cao tối thiểu là 100% màn hình */
}
  
.login-container {
    background-color: #fff;
    padding: 40px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 400px;
    text-align: center;
    margin: 0 auto; /* Căn giữa theo chiều ngang */
    margin-bottom: 20px; /* Tạo khoảng cách giữa các thành phần và cuối trang */
}
  
h2 {
    margin-bottom: 20px;
    font-size: 24px;
}
  
p {
    margin-bottom: 20px;
    font-size: 14px;
}
  
a {
    color: #007bff;
    text-decoration: none;
}
  
a:hover {
    text-decoration: underline;
}
  
.form-group {
    margin-bottom: 15px;
    text-align: left;
}
  
.form-group label {
    display: block;
    margin-bottom: 5px;
    font-size: 14px;
}
  
.required {
    color: red;
}
  
.form-group input {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 14px;
}
  
.form-group input:focus {
    border-color: #007bff;
}
  
.btn-submit {
    width: 100%;
    padding: 10px;
    background-color: black;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
}
  
.btn-submit:hover {
    background-color: #333;
}
